:root {
  --primary-color: #c96868;
  --secondary-color: #fadfa1;
  --background-color: #fff4ea;
  --accent-color: #7eacb5;
}

body {
  background-color: var(--background-color);
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
